.table {
    max-width: 800px;
    margin:auto;
    margin-bottom:1em;

    border: 1px solid transparent;
    border-radius:12px;
    
    overflow:hidden;
}

.table-flex {
    display:flex;
}

.table-flex-di {
    flex-direction: column;
}

.table-flex-j {
    justify-content: space-evenly;
}

.table-flex-j-sb {
    justify-content: space-between;
}

.table-top, .table-bottom {
    padding:10px;
    width:100%;
}

.table-top {
    background-color: var(--table-t);
}

.table-bottom {
    background-color: var(--text-cl);
}

.table-item-left, .table-item-right {
    width:50%;
    text-align:center;
}

.table-item-right {
    align-self:center;
}

/*---------------------------------*/
.text-white {
    color:var(--text-cl);
}

.text-blue-sd {
    text-shadow: 1px 1px 2px var(--table-t);
}

.text-white-dark {
    color:var(--text-sd);
}

.text-red-light {
    color:var(--text-red-light);
}

.text-size {
    font-size:4.5rem;
}

.text-spacing {
    letter-spacing: 2px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-i {
    font-size:1.3rem;
    font-weight: 700;

    color: var(--i);
}

.text-up, .text-down {
    animation-duration:0.5s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}

.text-up {
    animation-name:up;
}

.text-down {
    animation-name:down;
}

.text-city {
    position: relative;
}

.text-city::after {
    content:"";
    width:50px;
    height:3px;

    border:1px solid var(--text-cl);
    border-radius:6px;

    background-color: var(--text-cl);

    position:absolute;
    bottom:0;
    right:50%;
    transform:translateX(50%);
}

/*---------------------------------*/
@keyframes up {
    from {transform:translateY(0);}
    to {transform:translateY(var(--i-up))}
}

@keyframes down {
    from {transform:translateY(0);}
    to {transform:translateY(var(--i-down))}
}

/*---------------------------------*/
.btn-dismiss {
    position:absolute;
    top:0;
    right:5px;

    background-color: transparent;

    border:none;
}

.btn-i {

    font-size:2rem;
    font-weight: 700;

    color:var(--text-red-light);

    transition:0.1s ease-in;
}

.btn-dismiss:active .btn-i {
    text-shadow:
        0 0 10px var(--text-cl),
        0 0 20px var(--text-cl);
}
