:root {
  --text-cl:#fff;
  --text-sd:#ffffffb3;
  --table-t:#443480;
  --border-search:#E6DE5A;
  --search-block:rgba(0,0,0,0.7);
  --i:rgba(150,255,100);
  --i-up:4px;
  --i-down:calc(-1*var(--i-up));
}

html {
  font-size:100%;
}

body {
  margin: 0;
  padding:0;
  font-family: 'Noto Serif', serif;
  font-weight:400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

*::before, *::after {
  box-sizing:inherit;
}

h1 {
  text-align:center;

  color:var(--text-cl);

  text-shadow: 
    0 0 5px var(--text-sd), 
    0 0 13px var(--text-sd),
    0 0 20px var(--text-sd);
}

h1, h3, h3 {
  font-weight: 700;
}

p, h1, h2, h3 {
  margin:0.3rem;
}

span {
  margin:0 0.3rem 0 0.3rem;
}

img {
  display:inline-block;
  max-width:100%;
}

button {
  cursor:pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
